<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1><span *ngIf="screenService.bEditing">Edit</span><span *ngIf="!screenService.bEditing">Creation</span> Successful</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <i class="fa fa-5x fa-check-circle-o text-success"></i>
            </div>
        </div>
    </div>
</div>