<div class="container radibre">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1><i class="fa fa-facebook"></i> Facebook</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 alignContent">
            <div class="row text-center">
                <div class="col-xs-12">
                    <h1>Tom Lee</h1>
                </div>
                <div class="col-xs-12">
                    <div style="height: 100px; width: 100px; margin-left: auto; margin-right: auto;">
                        <qrcode [qrdata]="'https://www.facebook.com/thomasslee97'" [size]="100" [level]="'M'"></qrcode>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h1>/thomasslee97</h1>
                </div>
            </div>
        </div>
    </div>
</div>