<div *ngIf="screenService.bEditing" class="col-xs-12">
    Edit
</div>

<style>
    .fa-select {
        font-family: sans-serif, 'FontAwesome';
    }
</style>

<div *ngIf="screenService.bCreating" class="col-xs-12">
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="newScreenTypeSelect" class="col-xs-2 col-form-label">Screen Type</label>
                <div class="col-xs-10">
                    <select class="form-control" id="newScreenTypeSelect" required>
                        <option>Social</option>
                        <option style="background-color: #ca4242; color: white;">Custom HTML</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="newScreenIcon" class="col-xs-2 col-form-label">Icon</label>
                <div class="col-xs-10">
                    <select class="form-control fa-select" id="newScreenIcon" required>
                        <option>&#xf09a; Facebook</option>
                        <option>&#xf099; Twitter</option>
                        <option>&#xf1be; Soundcloud</option>
                        <option>&#xf2b3; Google+</option>
                        <option>&#xf167; YouTube</option>
                        <option>&#xf16d; Instagram</option>
                        <option>&#xf09b; GitHub</option>
                        <option>&#xf198; Slack</option>
                        <option>&#xf1a1; Reddit</option>
                        <option>&#xf19a; Wordpress</option>
                        <option>&#xf171; Bitbucket</option>
                        <option>&#xf0d2; Pinterest</option>
                        <option>&#xf17e; Skype</option>
                        <option>&#xf1b6; Steam</option>
                        <option>&#xf1bd; Deviantart</option>
                        <option>&#xf0e1; LinkedIn</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="newScreenTitleInput" class="col-xs-2 col-form-label">Screen Name</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="newScreenTitleInput" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="newScreenTextColor" class="col-xs-2 col-form-label">Color</label>
                <div class="col-xs-10">
                    <input class="form-control" type="color" value="#563d7c" id="newScreenTextColor" required>
                </div>
            </div>
        </form>
    </div>
</div>